@import url("../../node_modules/bootstrap/dist/css/bootstrap.min.css");
@import url("../../node_modules/bootstrap/dist/css/bootstrap-theme.min.css");
@import url("../../node_modules/bootstrap-social/bootstrap-social.css");
@import url("../../node_modules/bootstrap-social/assets/css/font-awesome.css");

.button-center{
    float: none;
    margin : 0 auto;
}

nav.navbar-kortfolio{
    background-color: rgb(237, 234, 215);
    color:rgb(99, 99, 99);
}
.nav > li > a:hover,
.nav > li > a:focus, 
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .active > a {
    text-decoration: none;
    background-color: rgb(236, 226, 164);
}

nav.navbar-kortfolio a{
    color: rgb(99, 99, 99);
}

.dropdown .btn.btn-default{
    margin-left: 10px; 
    width: -webkit-calc(100% - 20px);
}
.nav .open > a,
.nav .open > a:hover,
.nav .open > a:focus,
.navbar-default .navbar-nav .open .dropdown-menu > .active > a,
.navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
.navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
  background-color: rgb(236, 226, 164);
}

.btn-default:hover,
.btn-default:focus {
  background-color: #000000;
  background-position: 0 -15px;
}

.dropdown-toggle:active, .open .dropdown-toggle {
    background:#FFF !important; 
    color:#000 !important;
}

.kortfolio-intro-header{
    width:100%; 
    padding-left:0; 
    padding-right:0;
}

.kortfolio-intro-header img.header-img{
    
    animation: header-hovor-img 1s ease-out 200ms 1 normal forwards;
}

.center-cropped {
    width: 100px;
    height: 100px;
    background-position: center center;
    background-repeat: no-repeat;
  }

.modal{
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.svg-color g{
    fill: rgb(237, 234, 215);
}

@keyframes header-hovor-img{
    to{
        /*filter: brightness(1.1) contrast(2.4) grayscale(1) hue-rotate(0deg) invert(0.32) saturate(0);*/
        opacity: 0.3;
    }
}