@import url("../../node_modules/bootstrap/dist/css/bootstrap.min.css");
@import url("../../node_modules/bootstrap/dist/css/bootstrap-theme.min.css");
@import url("../../node_modules/bootstrap-social/bootstrap-social.css");
@import url("../../node_modules/bootstrap-social/assets/css/font-awesome.css");

.button-center{
    float: none;
    margin : 0 auto;
}

nav.navbar-kortfolio{
    background-color: rgb(237, 234, 215);
    color:rgb(99, 99, 99);
}
.nav > li > a:hover,
.nav > li > a:focus, 
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .active > a {
    text-decoration: none;
    background-color: rgb(236, 226, 164);
}

nav.navbar-kortfolio a{
    color: rgb(99, 99, 99);
}

.dropdown .btn.btn-default{
    margin-left: 10px; 
    width: -webkit-calc(100% - 20px);
}
.nav .open > a,
.nav .open > a:hover,
.nav .open > a:focus,
.navbar-default .navbar-nav .open .dropdown-menu > .active > a,
.navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
.navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
  background-color: rgb(236, 226, 164);
}

.btn-default:hover,
.btn-default:focus {
  background-color: #000000;
  background-position: 0 -15px;
}

.dropdown-toggle:active, .open .dropdown-toggle {
    background:#FFF !important; 
    color:#000 !important;
}

.kortfolio-intro-header{
    width:100%; 
    padding-left:0; 
    padding-right:0;
    color: white;
}

.kortfolio-intro-header img.header-img{
    
    animation: header-hovor-img 1s ease-out 200ms 1 normal forwards;
}

#header-name{
    font-size:2rem;
    font-weight:bold; 
    margin-top:1.5%;
}

.center-cropped {
    width: 100px;
    height: 100px;
    background-position: center center;
    background-repeat: no-repeat;
  }

.modal{
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.svg-color g{
    fill: rgb(237, 234, 215);
}

@keyframes header-hovor-img{
    to{
        /*filter: brightness(1.1) contrast(2.4) grayscale(1) hue-rotate(0deg) invert(0.32) saturate(0);*/
        opacity: 0.3;
    }
}

.kortfolio-font > *{
    color:rgb(236, 226, 164);
}

.kortfolio-font h1{
    font-weight: bold;
}

.kortfolio-contant > *{
    font-size:1.2rem;
    line-height: 2.5rem;
}

.kortfolio-contant span:first-child{
    margin-right:0.5rem;
    width: 2.8rem;
    height: 2.8rem;
    line-height: 2.8rem;
    float: left;
    font-size: 2.9rem;
    color: #000;
}

.kortfolio-contant p > span:first-child{
    width: 2.5rem;
    height: 2.5rem;
    line-height: 2.5rem;
    background-color: #000;
    border-radius: 50%;
    font-size: 1.5rem;
    text-align: center;
    color: rgb(99, 99, 99);
}

.kortfolio-contant p{
    margin-top:0.8rem;
    margin-bottom:0.8rem;
}

.kortfolio-boutme{
    
}

a:link { color: white; text-decoration: none;}
a:visited { color: white; text-decoration: none;}
a:hover { color: rgb(236, 226, 164); text-decoration: none;}

.col-md-6{
    border-right: solid black;
}