@import url("../../node_modules/bootstrap/dist/css/bootstrap.min.css");
@import url("../../node_modules/bootstrap/dist/css/bootstrap-theme.min.css");
@import url("../../node_modules/bootstrap-social/bootstrap-social.css");
@import url("../../node_modules/bootstrap-social/assets/css/font-awesome.css");

.button-center{
    float: none;
    margin : 0 auto;
}

nav.navbar-kortfolio{
    background-color: rgb(237, 234, 215);
    color:rgb(99, 99, 99);
}
.nav > li > a:hover,
.nav > li > a:focus, 
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .active > a {
    text-decoration: none;
    background-color: rgb(236, 226, 164);
}

nav.navbar-kortfolio a{
    color: rgb(99, 99, 99);
}

.dropdown .btn.btn-default{
    margin-left: 10px; 
    width: -webkit-calc(100% - 20px);
}
.nav .open > a,
.nav .open > a:hover,
.nav .open > a:focus,
.navbar-default .navbar-nav .open .dropdown-menu > .active > a,
.navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
.navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
  background-color: rgb(236, 226, 164);
}

.btn-default:hover,
.btn-default:focus {
  background-color: #000000;
  background-position: 0 -15px;
}

.dropdown-toggle:active, .open .dropdown-toggle {
    background:#FFF !important; 
    color:#000 !important;
}