<div class="container-fluid kortfolio-portfolio-bg">
  <ul class="portfolio-list">
    <li>
      <div class="container-fluid">
        <img src="../../assets/images/kortfolio.png" style="width: 100%"/>
      </div>
      <a href="portfolio/tfriends">
        KortFolio (Angular 2/6, Node.js)
      </a>
    </li>
    <li>
      <div class="container-fluid">
        <img src="../../assets/images/tfriends.JPG" style="width: 100%"/>
      </div>
      <a href="portfolio/tfriends">
        TFS3 레이저 헤드 컨트롤 프로그램 (WPF/C#)
      </a>
    </li>
    <li>
      <div class="container-fluid">
          <img src="../../assets/images/how to use git.png" style="width: 100%"/>
      </div>
      <a href="portfolio/tfriends">
        How to use git
      </a>
    </li>
    
    <li>
      <div class="container-fluid">
        <img src="../../assets/images/yet.png" style="width: 100%"/>
      </div>
      <a href="portfolio/tfriends">
        준비중!
      </a>
    </li>
  </ul>
</div>