@import url("../../node_modules/bootstrap/dist/css/bootstrap.min.css");
@import url("../../node_modules/bootstrap/dist/css/bootstrap-theme.min.css");
@import url("../../node_modules/bootstrap-social/bootstrap-social.css");
@import url("../../node_modules/bootstrap-social/assets/css/font-awesome.css");

nav.navbar-kortfolio{
    background-color: rgb(237, 234, 215);
    color:rgb(99, 99, 99);
    font-size: 1.2rem;
}
.nav > li > a:hover,
.nav > li > a:focus, 
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .active > a {
    text-decoration: none;
    background-color: rgb(236, 226, 164);
}

nav.navbar-kortfolio a{
    color: rgb(99, 99, 99);
}

.dropdown .btn.btn-default{
    margin-left: 10px; 
    width: -webkit-calc(100% - 20px);
}

.nav .open > a,
.nav .open > a:hover,
.nav .open > a:focus,
.navbar-kortfolio .navbar-nav .open .dropdown-menu > a,
.navbar-kortfolio .navbar-nav .open .dropdown-menu > a:hover,
.navbar-kortfolio .navbar-nav .open .dropdown-menu > a:focus {
  background-color: rgb(236, 226, 164);
}

.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus {
    background-color: rgb(236, 226, 164);
}


#kortfolio-menu{
    display: none;
}

.kortfolio-profile-img{
    bottom:7.5rem; 
    position:relative;
}

.kortfolio-profile-img > div{
    overflow:hidden; 
    position:relative; 
    width:15rem; 
    height:15rem;  
    border:10px solid rgb(236, 226, 164); 
    border-radius:50%; 
    margin:auto;
    padding-bottom: -10%;
}

.kortfolio-profile-img > div > img{
    width: 100%;
}

.kortfolio-intro-header{
    width:100%; 
    padding-left:0; 
    padding-right:0;
    color: white;
}

.kortfolio-intro-header img.header-img{
    
    animation: header-hovor-img 1s ease-out 200ms 1 normal forwards;
}

#header-name{
    font-size:2rem;
    font-weight:bold; 
    margin-top:1.5%;
}

.center-cropped {
    width: 100px;
    height: 100px;
    background-position: center center;
    background-repeat: no-repeat;
  }

.modal{
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.svg-color g{
    fill: rgb(237, 234, 215);
}

@keyframes header-hovor-img{
    to{
        /*filter: brightness(1.1) contrast(2.4) grayscale(1) hue-rotate(0deg) invert(0.32) saturate(0);*/
        opacity: 0.3;
    }
}

.kortfolio-font > *{
    color:rgb(236, 226, 164);
}

.kortfolio-font h1{
    font-weight: bold;
}

.kortfolio-contant > *{
    font-size:1.2rem;
    line-height: 2.5rem;
    z-index:1;
    margin:1rem 0;
    padding:1rem 0;
}

.kortfolio-contant span:first-child{
    margin-right:0.5rem;
    line-height: 2.8rem;
    float: left;
    font-size: 2.9rem;
    color: #000;
}

.kortfolio-contant p > span:first-child{
    width: 2.5rem;
    height: 2.5rem;
    line-height: 2.5rem;
    background-color: #000;
    border-radius: 50%;
    font-size: 1.5rem;
    text-align: center;
    color: rgb(99, 99, 99);
}

.kortfolio-contant p{
    margin-top:0.8rem;
    margin-bottom:0.8rem;
}

.kortfolio-boutme{
    font-size:0.9rem;
    padding-bottom: 1rem;
    margin-bottom:1rem;
}

.kortfolio-intro-body{
    background-color:white; 
    color:rgb(99, 99, 99);
    padding: 1rem 0;
}

.kortfolio-intro-body h2,
.kortfolio-intro-body h1{
    font-weight: bold;
}

a:link { color: white; text-decoration: none;}
a:visited { color: white; text-decoration: none;}
a:hover { color: rgb(236, 226, 164); text-decoration: none;}

.kortfolio-class{
    margin:1rem 0;
}

.kortfolio-class::before{
    margin-bottom: 10px;
    float: left;
    width: 4rem;
}

.kortfolio-skill p{
    float:left; 
    margin: 0 4.5rem 0 1rem;
    width:3.5rem;
    font-weight: bold;
    
}

.kortfolio-skill > div{
    margin:1.5rem 0;
}

.kortfolio-skill .progress-bar{
    background-image:none;
    color: rgb(99, 99, 99);
}

.kortfolio-contact-bg{
    background-color: rgb(65, 65, 65);
    height: 95vh;
    
}

.kortfolio-contact-bg > div {
    color: white;
    margin: 3rem 15rem;
}

.kortfolio-contactForm{
    margin : 0 auto; 
    padding : 1.5rem;  
    border:3px dashed rgb(236, 226, 164); 
    /* background-color : rgb(236, 226, 164);  */
    border-radius : 5%; 
    width : 45rem; 
    height : 45rem;
}

.kortfolio-contactForm>div{
    margin : 1.5rem auto;
}

.kortfolio-contactForm label{
    text-align: left;
    color : white;
}

.kortfolio-contactForm input[type=submit]{
    background-color: rgb(236, 226, 164);
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.kortfolio-contactForm .row div input,
.kortfolio-contactForm .row div textarea{
    width: 20rem;
}


.kortfolio-portfolio-bg{
background-color:rgb(238, 238, 238);
text-align: center;
}

.portfolio-list {
    display: inline;
    list-style: none;
    color : rgb(99, 99, 99);
    margin : 0 auto;
    padding: 0;
    width: 100%;
    height: 100%;
    text-align: center;
}

.portfolio-list li{
    background-color: white;
    border-radius: 10px;
    float: left;
    width: 30%;
    height: 30rem;
    padding: 0 1rem;
    margin: 1rem 1rem;
}

.portfolio-list li>div{
    display: table-cell;
    vertical-align: middle;
    margin: 0 0; 
    padding: 2rem 0;
    height: 22rem;
}

.portfolio-list li>a{
    color : rgb(99, 99, 99);
}

.portfolio-list li>a:focus{
    color : rgb(236, 226, 164);
}

.kortfolioFeedback,
.kortfolioFeedback a{
    margin : 3rem auto;
    color: white;
}

.kortfolioFeedback .cmd_image{
    width: 8rem;
    height: 8rem;
    margin :auto;
    background-color: azure;
    border-radius: 50%;
}

.kortfolioFeedback .comment{
    padding: 2rem;
    width: 85%;
    float: right;
    background-color: rgb(99, 99, 99);
    position: relative;
    display: inline-block;
    border-radius: 1rem;
    border : 2px solid rgb(70, 70, 70);
}

.kortfolioFeedback>.comment::before{
    /* content:''; 
    position:absolute; 
    width:0; 
    height:0; 
    border-style:solid;
    border-width:10px 15px; 
    margin-top:-10px;
    border-color:transparent aquamarine transparent transparent; 
    right : 100%;
    top: 30%;
    background-color: #000; */
    content: '';
    position: absolute;
    top: 2.8rem;
    width: 1rem;
    height: 1rem;
    border-top: 2px solid rgb(70, 70, 70);
    border-left: 2px solid rgb(70, 70, 70);
    border-right: 2px solid transparent;
    border-bottom: 2px solid transparent;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transform-origin: 100% 100%;
    transform-origin: 100% 100%;
    background: rgb(99, 99, 99);

    right: initial;
    left: -.4rem;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

.kortfolioFeedback .comment .dataview{
    text-align: right;
}

.kortfolioFeedback .comment .dataview .name{
    float: left;
    font-weight: bold;
    font-size: 1.5rem;
    margin: 0;
}

.kortfolioFeedback .comment .dataview .date{
    font-size: 1.2rem;
}

.kortfolioFeedback .comment .dataview .body{
    text-align: left;
    width: 100%;
}

.kortfolioFeedback .comment .CRUD{
    text-align: right;
}

.kortfolioFeedback .comment .CRUD a{
    margin : 0 0.25rem;
}

.kortfolioFeedback .comment .CRUD .put{

}

.kortfolioFeedback .comment .CRUD .del{

}

.kortfolioFeedback .comment .CRUD .post{

}


.kortfolioFeedbackCmd {

}


.kortfolioFeedbackCmd {
    width: 80%;
}

.kortfolioFeedbackCmd * {
    display: block;
}

.kortfolioFeedbackCmd{
    margin: 0 auto;
    padding: 0 auto;
    width: 100%;
    /* position: fixed; */
    overflow: hidden;
    bottom: 0;
}

.kortfolioFeedbackCmd > form{
    margin: 0 auto;
    /* border: 3px black solid; */
    display: block;
    /* margin: 3rem; */
    padding: 1rem;
}

.kortfolioFeedbackCmd > form > *{
    color: #000;
}

.kortfolioFeedbackCmd > form > input[type="button"]{
    width: 100%;
    margin: 1rem 0;
    -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;

}

.kortfolioFeedbackCmd > form > textarea{
    width: 100%;
    margin: 0;
    resize: none;

    -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* 매우 작은 기기들 (모바일폰, 768px 보다 작은) */
/* 부트스트랩에서 이것은 기본이므로 미디어쿼리가 없습니다. */

/* 작은 기기들 (태블릿, 768px 이상) */
@media (max-width: 768px) {  
    .navbar-header{
        text-align: center;
        margin: 0 auto;
    }

    .kortfolio-boutme{
        border-bottom:dashed 1px rgb(236, 226, 164);
    }

    #kortfolio-menu{
        display: block;
        float: left;
        margin: 0;
    }
    
    .nav.navbar-nav{
        display:none;
    }

    .nav.navbar-nav.navbar-right{
        display: block;
    }

    #kortfolio-login{
        display: none;
    }

    .kortfolio-contactForm{
        width: 30rem;
    }

    .kortfolio-contactForm label{
        font-size: 1.2rem;
    }

    .kortfolio-contactForm .row div input,
    .kortfolio-contactForm .row div textarea{
        width: 17rem;
    }

    .portfolio-list li{
        width: 60%;
        float: none;
    }
}

/* 중간 기기들 (데스크탑, 992px 이상) */
@media (min-width: 992px) {  
    .kortfolio-boutme{
        border-right:dashed 1px rgb(236, 226, 164);
    }
}

/* 큰 기기들 (큰 데스크탑, 1200px 이상) */
@media (min-width: 1200px)  {  
    .kortfolio-boutme{
        border-right:dashed 1px rgb(236, 226, 164);
    }
}