@import url("../../node_modules/bootstrap/dist/css/bootstrap.min.css");
@import url("../../node_modules/bootstrap/dist/css/bootstrap-theme.min.css");
@import url("../../node_modules/bootstrap-social/bootstrap-social.css");
@import url("../../node_modules/bootstrap-social/assets/css/font-awesome.css");

nav.navbar-kortfolio{
    background-color: rgb(237, 234, 215);
    color:rgb(99, 99, 99);
    font-size: 1.2rem;
}
.nav > li > a:hover,
.nav > li > a:focus, 
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .active > a {
    text-decoration: none;
    background-color: rgb(236, 226, 164);
}

nav.navbar-kortfolio a{
    color: rgb(99, 99, 99);
}

.dropdown .btn.btn-default{
    margin-left: 10px; 
    width: -webkit-calc(100% - 20px);
}

.nav .open > a,
.nav .open > a:hover,
.nav .open > a:focus,
.navbar-kortfolio .navbar-nav .open .dropdown-menu > a,
.navbar-kortfolio .navbar-nav .open .dropdown-menu > a:hover,
.navbar-kortfolio .navbar-nav .open .dropdown-menu > a:focus {
  background-color: rgb(236, 226, 164);
}

.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus {
    background-color: rgb(236, 226, 164);
}


#kortfolio-menu{
    display: none;
}

.kortfolio-profile-img{
    bottom:7.5rem; 
    position:relative;
}

.kortfolio-profile-img > div{
    overflow:hidden; 
    position:relative; 
    width:15rem; 
    height:15rem;  
    border:10px solid rgb(236, 226, 164); 
    border-radius:50%; 
    margin:auto;
    padding-bottom: -10%;
}

.kortfolio-profile-img > div > img{
    width: 100%;
}

.kortfolio-intro-header{
    width:100%; 
    padding-left:0; 
    padding-right:0;
    color: white;
}

.kortfolio-intro-header img.header-img{
    
    animation: header-hovor-img 1s ease-out 200ms 1 normal forwards;
}

#header-name{
    font-size:2rem;
    font-weight:bold; 
    margin-top:1.5%;
}

.center-cropped {
    width: 100px;
    height: 100px;
    background-position: center center;
    background-repeat: no-repeat;
  }

.modal{
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.svg-color g{
    fill: rgb(237, 234, 215);
}

@keyframes header-hovor-img{
    to{
        /*filter: brightness(1.1) contrast(2.4) grayscale(1) hue-rotate(0deg) invert(0.32) saturate(0);*/
        opacity: 0.3;
    }
}

.kortfolio-font > *{
    color:rgb(236, 226, 164);
}

.kortfolio-font h1{
    font-weight: bold;
}

.kortfolio-contant > *{
    font-size:1.2rem;
    line-height: 2.5rem;
    z-index:1;
    margin:1rem 0;
    padding:1rem 0;
}

.kortfolio-contant span:first-child{
    margin-right:0.5rem;
    line-height: 2.8rem;
    float: left;
    font-size: 2.9rem;
    color: #000;
}

.kortfolio-contant p > span:first-child{
    width: 2.5rem;
    height: 2.5rem;
    line-height: 2.5rem;
    background-color: #000;
    border-radius: 50%;
    font-size: 1.5rem;
    text-align: center;
    color: rgb(99, 99, 99);
}

.kortfolio-contant p{
    margin-top:0.8rem;
    margin-bottom:0.8rem;
}

.kortfolio-boutme{
    font-size:0.9rem;
    padding-bottom: 1rem;
    margin-bottom:1rem;
}

.kortfolio-intro-body{
    background-color:white; 
    color:rgb(99, 99, 99);
    padding: 1rem 0;
}

.kortfolio-intro-body h2,
.kortfolio-intro-body h1{
    font-weight: bold;
}

a:link { color: white; text-decoration: none;}
a:visited { color: white; text-decoration: none;}
a:hover { color: rgb(236, 226, 164); text-decoration: none;}

.kortfolio-class{
    margin:1rem 0;
}

.kortfolio-class::before{
    margin-bottom: 10px;
    float: left;
    width: 4rem;
}

.kortfolio-skill p{
    float:left; 
    margin: 0 4.5rem 0 1rem;
    width:3.5rem;
    font-weight: bold;
    
}

.kortfolio-skill > div{
    margin:1.5rem 0;
}

.kortfolio-skill .progress-bar{
    background-image:none;
    color: rgb(99, 99, 99);
}

/* 매우 작은 기기들 (모바일폰, 768px 보다 작은) */
/* 부트스트랩에서 이것은 기본이므로 미디어쿼리가 없습니다. */

/* 작은 기기들 (태블릿, 768px 이상) */
@media (max-width: 992px) {  
    .navbar-header{
        text-align: center;
        margin: 0 auto;
    }

    .nav.navbar-nav{
        display:none;
    }

    .kortfolio-boutme{
        border-bottom:dashed 1px rgb(236, 226, 164);
    }

    #kortfolio-menu{
        display: block;
        float: left;
        margin: 0;
    }

    #kortfolio-menu:hovor,
    #kortfolio-menu:focus{
        
    }

}

/* 중간 기기들 (데스크탑, 992px 이상) */
@media (min-width: 992px) {  
    .kortfolio-boutme{
        border-right:dashed 1px rgb(236, 226, 164);
    }
}

/* 큰 기기들 (큰 데스크탑, 1200px 이상) */
@media (min-width: 1200px)  {  
    .kortfolio-boutme{
        border-right:dashed 1px rgb(236, 226, 164);
    }
}