<form class = "kortfolio-contactForm" accept-charset="utf-8">
    <div class="row">
      <div class="col-xs-3 col-sm-3 col-md-3">
        <label for="image" style="">이미지</label>
      </div>
      <div class="col-xs-9 col-sm-9 col-md-9">
        <input type="text" id="image" name="image" placeholder="성함을 적어주십시오.">
      </div>
    </div>
  
    <div class="row">
      <div class="col-xs-3 l-sm-3 col-md-3">
        <label for="title" style="">제목</label>
      </div>
      <div class="col-xs-9 col-sm-9 col-md-9">
        <input type="text" id="title" name="title" placeholder="010-XXXX-XXXX" >
      </div>
    </div>
  
    <div class="row">
      <div class="col-xs-3 l-sm-3 col-md-3">
        <label for="body" style="">내용</label>
      </div>
      <div class="col-xs-9 col-sm-9 col-md-9">
        <input type="text" id="body" name="body" placeholder="id@xxx.com">
      </div>
    </div>
    <!-- <label style="display : block">이름<input type="text" name="name" style="width : 10rem;"/></label>
    <label style="display : block">연락처<input type="text" name="tel"/></label>
    <label style="display : block">메세지<textarea name="Message" rows="8" cols="20" style="resize:none; width : 10rem" name="message"></textarea></label> -->
    <div style="text-align:center">
      <input type="button" value="보내기" (click)={{}}/>
    </div>
  </form>