<nav class="navbar navbar-kortfolio navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <!--<a class="navbar-brand">
              <img src="assets/img/ngx-bootstrap.svg" class="logo">
            </a>-->
            <span class="navbar-brand glyphicon glyphicon-align-justify" id="kortfolio-menu" (click)="openMenu()"></span>
            <a href="" style="margin:auto 0;"><span class="navbar-brand">KortFolio</span></a>
        </div>
        <ul class="nav navbar-nav navbar-right" id="kortfolio-login">
                <li style="float : right;"><a href="{{userInfoUrl}}">{{userdata?.user_json._name}}</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-left" id="menu">
            <li>
                <a href="contact">Contact</a>
            </li>
            <li><a href="http://ifyoudontknow-youcandothis.tistory.com">Blog</a></li>
            
            <li class="dropdown" dropdown> <!-- {1} -->
                <a dropdownToggle role="button"> <!-- {2} -->
                  <span class="glyphicon glyphicon-cog"></span>
                  <span class="caret"></span></a>
                <ul *dropdownMenu class="dropdown-menu"> <!-- {3} -->
                    <!--<li><a href="#">공사중이라고욧!!</a></li>
                    <li role="separator" class="divider"></li>-->
                    <li>
                        <a href="{{userInfoUrl}}">
                            <span class="glyphicon glyphicon-user" style="margin-right:1rem;"></span>
                            {{userdata?.user_json._name}}
                        </a>
                    </li>
                    <li id="registers">
                        <a href="register" >
                            <span class="glyphicon glyphicon-plus" style="margin-right:1rem;"></span>
                            Register
                        </a>
                    </li>
                </ul>
            </li>
        </ul>

        

    </div>
</nav>