
<div class="container-fluid">
    <h2>로그인</h2>
    
    <div *ngIf="alertCheck" class="alert alert-warning alert-dismissible" role="alert">
      <button (click)="alertCheck = !alertCheck" type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      <strong>죄송합니다!</strong> 현재 passport.js를 이용한 간편 로그인 기능들이 검수 문제로 인해 개발자를 제외한 회원분들은 사용이 안됩니다.
    </div>

  <div class="row" style="">
      <div class="loginContainer">
        <form class="loginForm" ngNoForm action="/login" method="POST" style="display: block; margin : 1rem;">
          <input class="form-control" type="text" name="email" placeholder="email">
          <input class="form-control" type="password" name="pw" placeholder="password">
          <input class="btn btn-default btn-md btn-block" type="submit" value="login">
        </form>
      </div>

    <div class="col-sm-12 col-md-4 col-md-offset-4 social-buttons container-fluid">
      <a class="btn btn-block btn-social btn-lg btn-naver" href="http://myeongsku.com/login/auth/naver">
        <span class="fa fa-naver"></span> 네이버로 로그인
      </a>
      <a class="btn btn-block btn-social btn-lg btn-kakao" href="http://myeongsku.com/login/auth/kakao">
        <span class="fa fa-kakao"></span> 카카오로 로그인
      </a>
      <a class="btn btn-block btn-social btn-lg btn-facebook" href="http://myeongsku.com/login/auth/facebook">
        <span class="fa fa-facebook"></span> 페이스북으로 로그인
      </a>
      <a style="margin : 3rem auto; display: inline-block;" href="register" class="btn btn-primary btn-lg btn-block">회원가입</a>
    </div>
  </div>
</div>

